{% extends 'base.html' %}

{% block content %}
<style>
    .mb-4, h1 {
      margin-left: 250px;
    }
    .btn-outline-primary{
        margin-left: 250px;
    }
    .alert {
    position: fixed;
    top: 0;
    left: 25%;
    width: 50%;
    padding: 10px;
    background-color: #f8d7da;
    color: #721c24;
    font-size: 16px;
    text-align: center;
    z-index: 9999;
  }
    @media (max-width: 768px) {
        .mb-4, h1  {
      margin-left: 0px;
    }
    .btn-outline-primary{
        margin-left: 0px;
    }
    }
    </style>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-danger" role="alert">          
        {% for message in messages %}
          {{ message }}
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
<div class="container">
  <h1>Create Book</h1>
  <form method="POST" action="/user/books/create" enctype="multipart/form-data">
    <div class="mb-4">
        <label for="title" class="form-label">ISBN</label>
        <input type="text" class="form-control" id="ISBN" name="ISBN" required>
      </div>
    <div class="mb-4">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" id="title" name="title" required>
    </div>
    <div class="mb-4">
      <label for="author" class="form-label">Author</label>
      <input type="text" class="form-control" id="author" name="author" required>
    </div>
    <div class="mb-4">
        <label for="categories" class="form-label">Categories</label>
        <input type="text" class="form-control" id="categories" name="categories" required>
      </div>
    <div class="mb-4">
        <label for="cover" class="form-label">Cover Image</label>
        <input type="file" class="form-control" id="cover" name="cover" accept="image/*" required>
      </div>
      <div class="mb-4">
        <label for="pdf" class="form-label">Upload PDF</label>
        <input type="file" class="form-control" id="pdf" name="pdf" accept="application/pdf" required>
          </div>
    <div class="mb-4">
      <label for="rate" class="form-label">Rating</label>
      <input type="number" class="form-control" id="rate" name="rate" min="0" max="5" step="0.5" required>
    </div>
    <a href="/private-library" class="btn btn-outline-primary">Return</a>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

{% endblock %}
